.flex-h, .flex-v {
    display: flex;
}

.flex-v {
    flex-direction: column;
}

#header {
    background-color: gray;
    height: 64px;
    justify-content: center;
    margin: 0;
    padding: 16px;
    font-size: 32px;
    align-items: center;
    font-family: "Luckiest Guy";
    color: whitesmoke;
    margin-bottom: 24px;
}

body {
    margin: 0;
    background-color: bisque;
}
